.navbar {
    margin: 2vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav{
    word-spacing: 10vw;
    margin-left: 5.1vh;

}

.nav a{
    text-decoration: none;
    color: black;
}
.nav a:visited{
    color: black;
}

.search-bar{
    margin-left: 10px;
}
