.player-container{    
    padding-top: 2rem;
    padding-left: 25vw;
    padding-right: 25vw;
}

.player-page-photo{
    height: 15rem;
    width: 10rem;
}

.player-info-container{
    font-size: 1.25rem;
    padding-bottom: 2rem;
    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 1rem;
}

.player-stat-container{
    text-align: left;
    padding: 2rem 2rem 2rem 10vw;
    border: 0.5rem solid black;
    text-decoration: none;
    margin: 1rem;
    background:rgb(240, 239, 239);
    color:black;
    border: 0.5rem solid black;
    border-radius: 1rem;
    font-size: 1.5rem;
    
}

.not-active {
    padding-top:6rem;
    font-size: 2rem;
}
.loading {
    padding-top:6rem;
    font-size: 2rem;
}