.individual-team-container{
    padding: 5vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.player-card {
    margin: 1rem;
    padding: 1rem;
    background:darkgray;
    color:white
}

.player-photo {
    height: 5rem;
    width: 5rem;
}