.team-header{
    padding-top: 2rem;
}

.individual-team-container{
    padding: 5vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-decoration: none;

}

.player-card {
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    background:rgb(240, 239, 239);
    color:black;
    border: 0.5rem solid black;
    border-radius: 1rem;
}

.player-photo {
    height: 10rem;
    width: 7rem;
}

a:visited {
    text-decoration: none;
    color:black
}
a:link {
    text-decoration: none;
    color:black;
}