.card-container{
    padding: 5vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.card {
    margin: 3rem;
    padding: 2rem;
    background:darkgray;
    color:white
}

.team-logo {
    height: 10rem;
    width: 10rem;
}